body:has(.game-page)
{
	min-height: 1024px;
	min-width: 768px;
}

.game-page
{
	overflow: scroll;
}

.game-main-menu
{
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 75px;

	border-right: 1px solid black;
}

.game-component
{
	position: absolute;
}
